<div panel-right-url="<%= asset_path('panel_right.css') %>"></div>

<div data-controller="panel-right">
  <sl-menu>
    <%= render "web_components/timer_tab" %>
    <sl-tab-group>

      <sl-tab slot="nav" panel="new-game">New Game</sl-tab>
      <sl-tab slot="nav" panel="history">History</sl-tab>
      <sl-tab slot="nav" panel="analyze">Analyze</sl-tab>
      <sl-tab slot="nav" panel="chat">Chat</sl-tab>

      <sl-tab-panel name="new-game">
        <div class="container-components" id="container-new-game">
          <div id="button-board-size"><%= render "web_components/button_board_size" %></div>
          <div id="switch-ai-player"><%= render "web_components/ai_player_switch" %></div>
          <%= render "web_components/button_new_game" %>
        </div>
      </sl-tab-panel>

      <sl-tab-panel name="history">
          <p> History of the game</p>
          <p> Add a table</p>
      </sl-tab-panel>

      <sl-tab-panel name="analyze">
          <p>The 1950 NCAA Golf Championship was the 12th annual NCAA-sanctioned golf tournament to determine the individual and team national champions of men's collegiate golf in the United States.[1]
          The tournament was held at the University of New Mexico Golf Course in Albuquerque, New Mexico.
          Defending champions North Texas State again won the team title, the Eagles' second NCAA team national title. </p>
      </sl-tab-panel>

      <sl-tab-panel name="chat">
          <p>Chat</p>
      </sl-tab-panel>

    </sl-tab-group>
  </sl-menu>
</div>
