<main>

  <sl-menu>
    <%= render "web_components/pass_button" %>
    <%= render "web_components/resign_button" %>
  </sl-menu>
  
  <%= render "web_components/go_board" %>

  <sl-menu>
    <%= render "web_components/timer_tab" %>
    <sl-tab-group placement="end">

      <sl-tab slot="nav" panel="new-game">New Game</sl-tab>
      <sl-tab slot="nav" panel="test-tab1">Test Tab</sl-tab>

      <sl-tab-panel name="new-game">
        <%= render "web_components/button_board_size" %>
        <%= render "web_components/button_new_game" %>
      </sl-tab-panel>
      <sl-tab-panel name="test-tab1">This is Test Tab N° 1</sl-tab-panel>

    </sl-tab-group>
  </sl-menu>
  
</main>